{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Lid worden</h1>
    <p>
        Let op: kijk eerst even voor welke les je in wilt schrijven in het
        <a href="{{ path('simpleContentPage', {'pageName': 'lesrooster'}) }}">
            lesrooster
        </a>.
        Als er een wachtlijst op een les is, neem dan eerst even via de mail contact op met de juf.
    </p>

    {{ form(form) }}
{% endblock %}
