{% extends 'inloggen/selectieIndexPage.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('getSelectieIndexPage') }}">Algemene gegevens</a>
            > <i>Wachtwoord wijzigen</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Wachtwoord</h1>
{% endblock %}

{% block body %}
    {% if app.user and is_granted('ROLE_COMPETITION_GROUP') %}
        <a href="{{ path('getSelectieIndexPage') }}">Annuleer wijzigingen</a>
        <form method="post" action="">
        <table>
            <tr>
                <td></td><td>
                {%  if error %}
                    <span style="color:red">{{ error }}</span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Wachtwoord</td>
                <td>
                    <input type="password" name="pass1" placeholder="Wachtwoord" required />
                </td>
            </tr>
            <tr>
                <td>Herhaal wachtwoord</td><td><input type="password" name="pass2" placeholder="Herhaal wachtwoord" required /></td>
            </tr>
        </table>

        <input type="submit" value="Verstuur" />
        </form>
    {% endif %}
{% endblock %}
