/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/.idea
/web/images/*
/web/images/headers/*
/web/images/Selectie/*
/web/adminuploads/*
/web/nieuws/*
/src/AppBundle/DataFixtures/ORM/LoadUserData.php