/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/.idea/*
/web/images/*
/web/adminuploads/*
/web/uploads/*
/web/nieuws/*
/src/AppBundle/DataFixtures/ORM/LoadUserData.php
/httpdocs/*
/src/AppBundle/Controller/font/*
/data
/var/sessions/*
