{% extends 'inloggen/base.html.twig' %}

{% block menu %}
    <div id="items">
        <a href="{{ path('getAdminIndexPage') }}">Admin dingen</a>
        <a href="{{ path('logout') }}">Uitloggen</a>
    </div>
{% endblock %}

{% block body %}
    <div class="inlognavigation">
        Index
        {#> <a href="#">{{ ('SSH public keys') }}</a>#}
    </div>

    Hallo Admin!
{% endblock %}