{% extends 'inloggen/adminIndex.html.twig' %}

{% block inlogNavigation %}
    <div class="inlognavigation">
        <b><i>Foto's</i></b>
    </div>
{% endblock %}

{% block body %}
    <i>Ingelogd als Admin</i>
{% endblock %}