{% extends 'base.html.twig' %}

{% block inloggen %}
    <a href="{{ path('getInloggenPage') }}"><span id="active_link">Inloggen</span></a>
{% endblock %}

{% block inlogmenu %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://www.donargym.nl/js/jquery.js"></script>
    <script src="http://www.donargym.nl/js/highcharts.js"></script>
    <script src="http://www.donargym.nl/js/highcharts-more.js"></script>
    <script src="http://www.donargym.nl/js/solid-gauge.js"></script>
{% endblock %}