{% extends 'inloggen/selectieShowPersoon.html.twig' %}

{% block inlogNavigation %}
    <div id="inlog_nav">
        <div id="text">
            <a href="{{ path('showPersoon', { 'id': persoonItems.id }) }}">{{ persoonItems.voornaam }} {{ persoonItems.achternaam }}</a>
            > <i>Doelprijzen</i>
        </div>
    </div>
{% endblock %}

{% block pageHeader %}
    <h1>Doelprijzen</h1>
{% endblock %}

{% block body %}

{% endblock %}