{% extends 'inloggen/base.html.twig' %}

{% block menu %}
    <div id="items">
        <a href="{{ path('getSelectieBeheerIndexPage') }}">Admin dingen</a>
        <a href="{{ path('logout') }}">Uitloggen</a>
    </div>
{% endblock %}

{% block body %}
    <div class="inlognavigation">
        Index
    </div>

    Hallo Selectiebeheer!
{% endblock %}