{% extends 'default/base.html.twig' %}

{% block body %}
    <h1>{{ content.activiteit }}</h1>
    <h2>Datum</h2>
    {{ content.datum }}
    <h2>Locatie</h2>
    {{ content.locatie }}
    <h2>Tijden</h2>
    {{ content.tijd }}
{% endblock %}