{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Nieuw wachtwoord</h1>
    Voer uw emailadres in om een nieuw wachtword te ontvangen
    {% if error %}
        <div><span style="color:red;">{{ error }}</span></div>
    {% endif %}

    <form action="{{ path('getNewPassPage') }}" method="post">
        <table>
            <tr>
                <td>Email adres:</td>
                <td><input type="email" name="email" placeholder="Emailadres" /></td>
            </tr>
        </table>
        <p><button type="submit">Verstuur</button></p>
    </form>
{% endblock %}
