<div id="inlogmenu">
    <ul>
        <li><a href="{{ path('publicPictures') }}">Foto's</a></li>
        <li><a href="{{ path('getAdminBestandenPage') }}">Overige bestanden</a></li>
        <li><a href="{{ path('getAdminSelectiePage') }}">Selectie</a></li>
        <li><a href="{{ path('preLogout') }}">Uitloggen</a></li>
    </ul>
</div>
