<div id="inlogmenu">
    <ul>
        <li><a href="{{ path('publicPictures') }}">Foto's</a></li>
        <li><a href="{{ path('publicFiles') }}">Overige bestanden</a></li>
        <li><a href="{{ path('adminCompetitionGroups') }}">Selectie</a></li>
        <li><a href="{{ path('logout') }}">Uitloggen</a></li>
    </ul>
</div>
