{% extends 'default/base.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <h1>Activiteit verwijderen</h1>
        <span style="color:red;">Weet u zeker dat u onderstaande activiteit wilt verwijderen?</span>
        <p>{{ content.datum }}: {{ content.activiteit }}</p>
        <table>
            <tr>
                <td>
                    <form method="post" action="{{ path('removeAgendaPage', { id: app.request.get('id') }) }}">
                        <input name="bevestig" type="submit" value="Bevestig">
                    </form>
                </td>
                <td>
                    <a href="{{ path('getNieuwsPage') }}"><input type="button" value="Annuleren"></a>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}