{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('editSimpleContentPage', { 'pageName': app.request.get('pageName') }) }}">
            <img src="{{ asset('images/edit.png') }}" alt="edit content of this page"/>
        </a>
    {% endif %}
    {{ content|raw }}
{% endblock %}
