{% extends 'base.html.twig' %}

{% block wedstrijdturnen %}
    <a href="{{ path('getWedstrijdturnenPage') }}"><b>Wedstrijdturnen</b></a>
{% endblock %}

{% block menu %}
    <div id="items">
        {% for groep in groepen %}
            <a href="http://www.donargym.nl/wedstrijdturnen/{{ groep.id }}">{{ groep.name }}</a>
        {% endfor %}
        <a href="http://www.topturnenhw.nl/" target="_blank">Topturnen Heren</a>
    </div>
{% endblock %}