{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inschrijven trainingsstage</h1>
    <p>
        <a href="{{ path('trainingsstage', {as: 'turnster'}) }}">Ik wil me graag inschrijven als turnster</a>
    </p>
    <p>
        <a href="{{ path('trainingsstage', {as: 'trainer'}) }}">Ik wil me graag inschrijven als trainer</a>
    </p>
{% endblock %}
