body {
    background: #C1C1C1 url(http://www.donargym.nl/images/background2.jpg) no-repeat; /* Blur-> unfocus 4 || opacity: 50 zwart */
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Calibri;
}

#container {
    width: 1050px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}

#header {
    margin-top: 20px;
    width: 1000px;
    height: 373px;
}

#header img {
    border-radius: 5px;
    width: 1000px;
}

#c {
    background: rgba(255, 255, 255, 0.4);
    border: 0px solid #FFF;
    width: 770px;
    float: left;
    min-height: 550px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#content {
    color: rgba(255, 255, 255, 0.93);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 11pt;
    overflow: hidden;
}

#content p {
    margin-bottom: 20px;
}

#content h1 {
    font-size: 20pt;
    color: #FFFF00;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
}

#content h2 {
    font-size: 16pt;
    color: #FFFF00;
    font-weight: normal;
    margin-bottom: 2px;
}

#content h3 {
    font-size: 14pt;
    color: #FFFF00;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 2px;
}

#content h4 {
    font-size: 12pt;
    color: #FFFF00;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 2px;
}

#content hr {
    background: #FFFF00;
    height: 1px;
    border: 0px;
    margin-bottom: 0px;
}

#content img {
    max-width: 700px;
    border-radius: 5px;
    margin: 5px;
}

#article {
    overflow: hidden;
}

#article img {
    max-width: 500px;
    border-radius: 5px;
    margin: 5px;
}

#content a:link {
    color: #FFFF00;
    text-decoration: underline;
}

#content a:visited {
    color: #FFFF00;
    text-decoration: underline;
}

#content a:hover, a:active {
    color: #FFAE00;
    text-decoration: underline;
}

#content .uitslagen a:link {
    color: #FFFF00;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    float: right;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}

#content .uitslagen a:visited {
    color: #FFFF00;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    float: right;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}

#content .uitslagen a:hover, .uitslagen a:active {
    background: rgba(255, 255, 0, 0.5);
    color: #FFF;
    text-decoration: none;
    display: block;
    float: right;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}

.date {
    font-size: 9pt;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}

#agenda {
    background: rgba(0, 0, 0, 0.3);
    border: 0px solid #000;
    width: 200px;
    min-height: 300px;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#agenda .agenda {
    color: #FFF;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 10pt;
}

#agenda .agenda hr {
    background: #FFF;
    height: 1px;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#agenda .agenda h1 {
    font-size: 16pt;
    font-weight: normal;
    margin-bottom: 5px;
}

#agenda .agenda h2 {
    font-size: 10pt;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 2px;
}

#agenda .agenda a:link {
    color: #FFF;
    text-decoration: none;
}

#agenda .agenda a:visited {
    color: #FFF;
    text-decoration: none;
}

#agenda .agenda a:hover, a:active {
    color: #FFFF00;
    text-decoration: none;
}

#agenda .a_date {
    color: #FFFF00;
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 2px;
}

#agenda .a_date a:link {
    color: #FFFF00;
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 2px;
}

#agenda .a_date a:visited {
    color: #FFFF00;
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 2px;
}

#agenda .a_date a:hover {
    color: #FFFF00;
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 2px;
}

#agenda .a_date a:active {
    color: #FFFF00;
    font-size: 10pt;
    font-weight: normal;
    margin-bottom: 2px;
}

a:link {
    color: #FFF;
}

a:visited {
    color: #FFF;
}

a:hover, a:active {
    color: #FFF;
}

/* ---------------------- */

#primary_nav_wrap {
    color: #FFF;
    background: rgba(255, 255, 0, 0.6);
    height: 35px;
    max-width: 1000px;
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    font-size: 11pt;
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul a {
    display: block;
    color: #FFF;
    text-decoration: none;
    line-height: 35px;
    padding: 0 15px;
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul li:hover {
    background: rgba(255, 255, 0, 0.7);
    border-radius: 5px;
}

#primary_nav_wrap ul ul {
    color: #FF0000;
    text-align: left;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333333;
    padding: 0;
    border-radius: 5px;
    z-index: 1;
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 200px;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
    display: block;
}

/* COMMENT LINE */

#active_link {
    border-bottom: 2px solid #FFFF00;
}

#inlogmenu {
    background: rgba(255, 255, 255, 0.5);
    height: 35px;
    max-width: 1000px;
    display: block;
    margin-bottom: 3px;
    border-radius: 5px;
    font-size: 11pt;
}

#inlogmenu ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#inlogmenu ul a:link, #inlogmenu ul a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    line-height: 35px;
    padding: 0 15px;
}

#inlogmenu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#inlogmenu ul li:hover {
    background: #7F7F7F; /*rgba(255, 255, 0, 0.7);*/
    border-radius: 5px;
}

#inlog_nav {
    background: rgba(0,0,0,0.6);
    max-width: 770px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inlog_nav #text {
    color: #FFF;
    padding: 7px;
    padding-left: 10px;
}

#inlog_nav #text a:link {
    color: #FFF;
    text-decoration: none;
}

#inlog_nav #text a:visited {
    color: #FFF;
    text-decoration: none;
}

#inlog_nav #text a:hover, #inlog_nav #text a:active {
    color: #FFFF00;
    text-decoration: none;
}