{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Nieuw wachtwoord</h1>
    <p>Voer uw emailadres in om een nieuw wachtword te ontvangen</p>
    <form method="post">
        <label class="sr-only" for="inputEmail">{% trans %}login_form.email_address{% endtrans %}</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="{% trans %}login_form.email_address{% endtrans %}" required autofocus value="{{ app.request.get('emailAddress') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('new-password') }}">
        <br>
        <button class="btn btn-primary" type="submit">
            {% trans %}form.submit{% endtrans %}
        </button>
    </form>
{% endblock %}
