{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>Wachtwoord instellen</h1>
    <form method="post">
        <label class="sr-only" for="inputPassword">{% trans %}login_form.password{% endtrans %}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans %}login_form.password{% endtrans %}" required>
        <label class="sr-only" for="inputPasswordAgain">{% trans %}login_form.password_again{% endtrans %}</label>
        <input type="password" name="password_again" id="inputPasswordAgain" class="form-control" placeholder="{% trans %}login_form.password_again{% endtrans %}" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('new-password') }}">
        <br>
        <button class="btn btn-primary" type="submit">
            {% trans %}form.submit{% endtrans %}
        </button>
    </form>
{% endblock %}
