{% extends '@Shared/base.html.twig' %}

{% block body %}
    {% include '@Shared/admin/admin_menu.html.twig' %}

    <div id="inlog_nav">
        <div id="text">
            <i>Selectie</i>
        </div>
    </div>

    <h1>Selectie overzicht groepen en hoofdtrainers</h1>
    {% for competitionGroupWithCoaches in competitionGroups %}
        <h2>{{ competitionGroupWithCoaches.competitionGroup.name }}</h2>
        {% for coach in competitionGroupWithCoaches.coaches %}
            {{ coach.firstName }} {{ coach.lastName }}<br/>
        {% endfor %}
    {% endfor %}
{% endblock %}
