{% extends '@Shared/base.html.twig' %}

{% block body %}
    <h1>{{ calendarItem.name }}</h1>
    <h2>Datum</h2>
    {{ calendarItem.date|date('d-m-Y') }}
    <h2>Locatie</h2>
    {{ calendarItem.locationDescription }}
    <h2>Tijden</h2>
    {{ calendarItem.timeDescription }}
{% endblock %}
