{% extends 'base.html.twig' %}

{% block contact %}
    <a href="#"><span id="active_link">Contact</span></a>
{% endblock %}

{% block menu %}
    <div id="items">
        <a href="{{ path('getContactPage', { 'page': 'contact' }) }}">Contactgegevens</a>
        <a href="{{ path('getContactPage', { 'page': 'veelgesteldevragen' }) }}">Veelgestelde vragen</a>
    </div>
{% endblock %}