{% extends 'base.html.twig' %}

{% block fotofilm %}
    <a href="#"><b>Foto/Film</b></a>
{% endblock %}

{% block menu %}
    <div id="items">
        <a href="{{ path('getFotofilmPage', { 'page': 'foto' }) }}">Foto</a>
        <a href="{{ path('getFotofilmPage', { 'page': 'film' }) }}">Film</a>
    </div>
{% endblock %}